<html
    xmlns:f="http://typo3.org/ns/TYPO3/CMS/Fluid/ViewHelpers"
    xmlns:fc="http://typo3.org/ns/SMS/FluidComponents/ViewHelpers"
    xmlns:mc="http://typo3.org/ns/Sitegeist/MediaComponents/Components"
    data-namespace-typo3-fluid="true"
>

<fc:component>
    <fc:param name="src" type="Sitegeist\MediaComponents\Domain\Model\ImageSource" />
    <fc:param name="sources" type="Sitegeist\MediaComponents\Domain\Model\ImageSource[]" />
    <fc:param name="alt" type="string" optional="1" />
    <fc:param name="title" type="string" optional="1" />
    <fc:param name="lazyload" type="boolean" optional="1" />
    <fc:param name="preload" type="boolean" optional="1" />

    <fc:renderer>
        <picture>
            <f:for each="{sources}" as="source">
                <mc:picture.source
                    src="{f:if(condition: source.image, then source.image, else: src)}"
                    crop="{source.crop}"
                    srcset="{source.srcset}"
                    sizes="{source.sizes}"
                    media="{source.media}"
                    format="{source.format}"
                    preload="{preload}"
                />
            </f:for>
            <mc:image src="{src}" alt="{alt}" title="{title}" lazyload="{lazyload}" preload="{preload}" class="{class}" />
        </picture>
    </fc:renderer>
</fc:component>

</html>
