<html
    xmlns:f="http://typo3.org/ns/TYPO3/CMS/Fluid/ViewHelpers"
    xmlns:fc="http://typo3.org/ns/SMS/FluidComponents/ViewHelpers"
    xmlns:mvh="http://typo3.org/ns/Sitegeist/MediaComponents/ViewHelpers"
    data-namespace-typo3-fluid="true"
>

<fc:component>
	<fc:param name="src" type="ImageSource" />
	<fc:param name="crop" type="CropArea" optional="1" />
	<fc:param name="srcset" type="SourceSet" optional="1" />
	<fc:param name="sizes" type="string" optional="1" />
	<fc:param name="media" type="string" optional="1" />
	<fc:param name="format" type="string" optional="1" />

	<fc:renderer>
		<f:variable name="croppedImage" value="{src -> mvh:image.modify.format(format: format) -> mvh:image.modify.crop(crop: crop)}" />
		<source
			srcset="{croppedImage -> mvh:image.srcset(srcset: srcset, base: sourceImage}"
			{f:if(condition: sizes, then: 'sizes="{sizes}"')}
			{f:if(condition: media, then: 'sizes="{media}"')}
			{f:if(condition: croppedImage.format, then: 'sizes="{croppedImage.format}"')}
		/>
		<f:if condition="{preload}">
			<!-- TODO -->
		</f:if>
	</fc:renderer>
</fc:component>

</html>
